.questions-logo-title{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
    margin-top: 42px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.questions-logo-title p{
    width: 54.13vw;
}

.questions-logo-title img{
    width: 13.86vw;
}

.questions-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.question{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 80vw;
    margin-top: 25px;
    height: 65px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.question p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.question ion-icon{
    font-size: 25px;
    color: #333333;
}